@using SudokuDeTodos.StringResx;
@model SudokuDeTodos.Models.Sistema.Respuesta


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/global.css" rel="stylesheet" />
<script src="../Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="../Content/js/global.js" type="text/javascript"></script>

@{
    ViewBag.Title = "";
}

<section id="videoSection" class="videoInitial">
    <div id="video" class="video videoInitial">
        <div id="videoContainer" class="video-container">
            <iframe id="videoInit" controls="autoplay1" allow="autoplay; encrypted-media" src="~/Content/imagen/initSudoku.mp4?autoplay=1" class="videoSize"></iframe>
            <div style="margin-left:6%"><h3>Introducción a la página web</h3></div>    
        </div>        
    </div>
</section>


<script>
    $(document).ready(function () {
        OcultarObjeto('inicio');
        OcultarObjeto('olvidoPassword');
    let index = '@Model.Id'
    if (index != '')
        $('#traductor').val(index);
    else
        $('#traductor').val(0);
        GetIdiomas();
    });
</script>

