@using SudokuForAll.StringResx;
@model SudokuForAll.Models.Sistema.Respuesta


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/_MessagePartial.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/js/State.js" type="text/javascript"></script>
@{
    ViewBag.Title = "";
}
<div id="comprarRegistrarse" name="comprarRegistrarse" align="center" class="modales">
    <div class="modal-header">
        <img id="img1" class="logo" /><br />
        <label id="msjCR" name="msjCR">@Model.Descripcion</label><br /><br />
        <div class="modal-body">
            <input type="button" id="si" name="si" value="Si" onclick="ComprarRegistrarse();" class="btn btn-primary" />
            <input type="button" id="noCR" name="noCR" value="No" onclick="CerrarModalComprarRegistrarse()" class="btn btn-primary" />
        </div>
    </div>
</div>

<div id="activarCuenta" name="activarCuenta" class="modales">
    <div class="modal-header">
        <img id="img2" class="logo" /><br />
        <label id="msjAC" name="msjAc">@Model.Descripcion</label><br /><br />
        <div class="modal-body">
            <input type="button" id="aceptar" name="aceptar" value="Si" onclick="NotificacionActivarCuenta();" class="btn btn-primary" />
            <input type="button" id="cancelar" name="cancelar" value="No" onclick="CerrarModalActivarCuenta();" class="btn btn-primary" />
        </div>
    </div>
</div>

<div id="probarSitio" name="probarSitio" class="modales">
    <div class="modal-header">
        <img id="img3" class="logo" /><br /><br />
        <label id="msjPS" name="msjPS">@Resources.MsjPruebaSitio</label><br />
        <div class="modal-body">
            <input type="button" id="aceptarPrueba" name="aceptarPrueba" value="Aceptar" onclick="NotificacionPrueba();" class="btn btn-primary" />
            <input type="submit" id="cancelarPrueba" name="cancelarPrueba" value="Cancelar" onclick="CerrarModalProbarSitio();" class="btn btn-primary" />
        </div>
    </div>
</div>

<div id="intro" name="intro" class="modales">
    <div class="modal-header">
        <img id="img4" class="logo" /><br /><br />
        <div class="modal-body">
            <label id="msjIntro" name="msjIntro">@Model.Descripcion</label>
        </div>
    </div>
</div>


