
@{
    ViewBag.Title = "";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/MainManager.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/js/Global.js" type="text/javascript"></script>



<div align="center" class="vertical-menu">
    <a href="" class="active"> Menu Principal </a>
    <a href="/Manager/Index"> Nuevo Administrador </a>
    <a href="/Manager/Update"> Actualizar Administrador </a>
    <a href="/Deal/Index"> Nuevo Producto </a>
    <a href="/Deal/Update"> Actualizar Producto </a>
    <a  href="javascript:AnularGerente();"> Salir </a>
</div>



<script>
    OcultarObjeto('inicio');
    OcultarObjeto('entrar');
    OcultarObjeto('traductor');
</script>

