@using SudokuForAll.StringResx;
@model SudokuForAll.Models.Sistema.Respuesta

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/Global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/js/Global.js" type="text/javascript"></script>


@{

    ViewBag.Title = "";
}


<div align="center" class="divEmail">
    @using (Html.BeginForm("Contact", "Home"))
    {
        <h4 class="text-primary">SudokuParaTodos</h4>
        <input type="email" id="email" name="email" placeholder="@Resources.IngreseEmail" required class="boxTxt form-control" />
        <div style="height:6px;"></div>
        <input type="submit" id="sendMail" name="sendMail" value="@Resources.Enviar" class="voton btn btn-primary" />
    }
</div>

<script>
    OcultarObjeto('entrar');
    OcultarObjeto('traductor');
</script>
