@using SudokuForAll.StringResx;
@model SudokuForAll.Models.Sistema.Respuesta


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/Global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/js/Global.js" type="text/javascript"></script>

@{
    ViewBag.Title = "";
}

<section id="videoSection" class="videoInitial">
    <div id="video" class="video videoInitial">
        <div id="videoContainer" class="video-container">
            <iframe id="videoInit" controls="autoplay1" allow="autoplay; encrypted-media" src="~/Content/imagen/initSudoku.mp4?autoplay=1" class="videoSize"></iframe>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
    OcultarObjeto('inicio');
    let index = '@Model.Id'
    if (index != '')
        $('#traductor').val(index);
    else
        $('#traductor').val(0);

        GetIdiomas();
    });

    function GetIdiomas() {
        $.ajax({
            type: "POST",
            url: "/Home/ListaLenguaje",
            data: { index: 0 },
            dataType: "json",
            success: function (data) {
                $('#triggerModal').removeAttr('disabled') 
                $("#traductor").empty();
                $('#traductor').append('<option selected disabled value="0">Seleccione Idioma. . .</option>');
                $('#traductor').append('<option  value="' + 1 + '">' + data.Español + '</option>');
                $('#traductor').append('<option  value="' + 2 + '">' + data.Ingles + '</option>');
                $('#traductor').append('<option  value="' + 3 + '">' + data.Portugues + '</option>');
                if (data.Id > 1) 
                    $('#traductor').val(data.Id);
                else 
                    OcultarObjeto('entrar');

            }
        });
    }
</script>