
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/Global.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/js/Global.js" type="text/javascript"></script>

@{
    string chxNosoy = "  No soy un robot";
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div id="logeo" align="center" class="logeo">
    @using (Html.BeginForm("Login", "Home"))
    {
        <h4 class="text-primary" id="lblTexto">Autentificate</h4>
        <input type="email" id="email" name="email" placeholder="Ingrese email" required class="form-control" style="text-align:center;" />
        <input type="password" id="password" name="password" placeholder="Ingrese contraseña" required class="form-control" style="text-align:center;" /><br />
        <label class="checkbox-inline"><input type="checkbox" id="chxNoSoy" name="chxNosoy" required class="btn btn btn-default active" />@chxNosoy </label><br /><br />
        <input type="submit" id="sendData" name="sendData" value="Enviar" class="btn btn-primary" style="width:13%;" />
        <input type="submit" id="cancel" name="cancel" value="Cancelar" class="btn btn-primary" style="width:13%;" />
    }
    <script>
        OcultarObjeto('entrar');
        OcultarObjeto('traductor');
        GetEmail();
    </script>
</div>

