@model SudokuForAll.Models.Sistema.Respuesta


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/Global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/js/State.js" type="text/javascript"></script>

@{
    ViewBag.Title = "State";
}

<h2>State</h2>

@Html.Partial("_MessagePartial")
@Html.Hidden("Email", Model.Email)

<script type="text/javascript">
        let openModal='@Model.RespuestaAccion' ;
        if (openModal !='' )
        {
            AbrirModalIndicada(openModal);
        }

</script>

