.modales {
    height: 50%;
    width: 80%;
    margin-top: 12%;
    margin-right: 50%;
    /*margin-left:40%;*/
    font-family: 'MS Reference Sans Serif';
    font-size: 18px;
    color: dimgray;
    display: none;
    border: 1px solid dimgray;
    /* background-color: #a1d0f1;*/
    background-image: linear-gradient(#338dff, #33ffc4);
    padding: 7px;
    text-align: center;
    opacity: 0.8;
    position: center;
}

.logo{
    height:8%;
    width:8%;
    margin-left:85%
}

.logoInitial {
    height: 10%;
    width: 10%;
    margin-right: 100%
}

.modal{
    padding:3px;
}


