.videoSize {
    width: 60%;
    height: 500px;
    margin-left: 25%;
    margin-top: 14%;
}

.logoInitial {
    height: 8%;
    width: 8%;
    margin-right: 100%;
    padding-top:2%;
    margin-left:3%;
}

.izq1 {
    margin-left: 90%;
}

.izq2 {
    margin-left: 85%;
}


.txtColor {
   color:blue;
}

.divEmail {
    margin-top: 15%;
    margin-left: 10%;
    width: 80%;
    display: inline-block;
}

.register {
    margin-top: 20%;
}

.logeo {
    margin-top: 20%;
    margin-left: 10%;
}

.boxTxt {
    text-align: center;
    width: 35%;
}

.voton {
    width:35%;
}

.votones {
    width: 13%;
}

.divCentrada{
    float:initial;
}

.divDerecha {
    float:right;
}

.divIzquierda {
    float: left;
}

